<!DOCTYPE  html>
<html>
	<head>
		<title>Hospital Management System</title>
		<meta name="viewport" content="width=1024">
		<link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
		<header id="h">	
			<span style="float: left; padding-left: 5px;"><i class="fas fa-circle" style="font-size:10px; padding-left: 3px; color:blue;"></i>
		    <i class="fas fa-circle" style="font-size:10px; padding-left: 3px; color:blue;"></i>
			<i class="fas fa-circle" style="font-size:10px; padding-left: 3px; color:blue;"></i></span>
			<label id="head1">ABC HOSPITAL MANAGEMENT SYSTEM</label></header>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script src="/script/up.js"></script>
	</head>
	<body>
		<header>
			<h1>ABC Hospital Management System</h1>
			<select name="patient" class="dropdown"  onchange="location = this.value;">
                <option value="patients">Patients</option>
				<option value="/patientsregistration">patients registration</option>
				<option value="/Update_patient">update patients</option>
				<option value="/Deletepatients">Delete patients</option>
				<option value="/viewpatients">view patients</option>
				<option value="/searchpatients">search patients</option>
				<option value="/patientsbilling">patients billing</option>	
            </select>&nbsp;&nbsp;
			<select name="pharmacy" class="dropdown" onchange="location = this.value;"> 
				<option value="Pharmacy">Pharmacy</option>
				<option value="/searchpatients">Get patient details</option>
				<option value="/Issuemedicine">Issue medicine</option>
			</select>&nbsp;&nbsp;
			<select name="diagnostics" class="dropdown" onchange="location = this.value;">
				<option value="Diagnostics">Diagnostics</option>
				<option value="/searchpatients">Get patient details</option>
				<option value="/diagonstic">diagonstic</option>
			</select>&nbsp;&nbsp;
			<br><br><br>
		</header>
		<br>
		
		<div>
			<h2>PHARMACY</h2>
		</div>
		<div>
			<table class="tab">
              <thead>
                 <tr>
					<th>Patient Id</th>
					<th>Name</th>
					<th>Age</th>
					<th>Address</th>
					<th>Date of Admission</th>
					<th>Type of room</th>
                 </tr>
              </thead>
			  <tbody>
				  <td>
					<form action="/phar" method="post">
						<input type="text" placeholder="Enter patient id" name="pid"  required>
						<button type="submit" id="search1"><i class="fa fa-search"></i></button>
					</form>
				  </td>
				  <td><%=result.pname%></td>
				  <td><%=result.p_age%></td>
				  <td><%=result.address%></td>
				  <td><%=result.date%></td>
				  <td><%=result.bed%></td>
			  </tbody>
			</table>
		</div>
		<br>
		<div>
			<h3>MEDICINES ISSUED</h3>
			<table class="tab">
              <thead>
                 <tr>
					<th>Medicine</th>
					<th>Quantity</th>
					<th>Rate</th>
					<th>Amount after discount</th>
                 </tr>
			  </thead>
			  <%if(result.medissued.length){%>
				  <tbody>
					  
					  <%result.medissued.forEach((med1)=>{%>
						<tr>
						<td><%=med1.med%></td>
				  		<td><%=med1.qty%></td>
				  		<td><%=med1.rt%></td>
				  		<td><%=med1.at%></td>
						</tr>
					  <%})%>
				  </tbody>
			  <%}%>
			  
			</table>
		</div>
		<br>
		<br><br>
		
		<br>
		
			<form action="/newmed" method="post">
			
			
			<table class="tab" id="t1">
              <thead>
                 <tr>
					<th>Medicine</th>
					<th>Quantity</th>
					<th>Rate</th>
					<th>Amount after discount</th>
                 </tr>
              </thead>
			  <tbody>
				  <tr>
				  <td><input type="text"  name="Medicine" style="float: right" ></td>
				  <td><input type="text"  name="Quantity" style="float: right" ></td>
				  <td><input type="text"  name="Rate" style="float: right" ></td>
				  <td><input type="text"  name="Amount" style="float: right" ></td>
				</tr>
				
			  </tbody>
			  </table>
		   
		   <button type=submit class="button4"s style="text-align: center;">UPDATE</button>
		</form>
		<button  class="button3" style="position: relative; right: 10px;" onclick="increaseRow()"> ADD ROW </button>
		   
		
		
	</body>
</html>
