<!DOCTYPE  html>
<html>
	<head>
		<title>Hospital Management System</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
		<header id="h">	
			<span style="float: left; padding-left: 5px;"><i class="fas fa-circle" style="font-size:10px; padding-left: 3px; color:blue;"></i>
		    <i class="fas fa-circle" style="font-size:10px; padding-left: 3px; color:blue;"></i>
			<i class="fas fa-circle" style="font-size:10px; padding-left: 3px; color:blue;"></i></span>
			<label id="head1">ABC HOSPITAL MANAGEMENT SYSTEM</label></header>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	</head>
	<body>
		<header>
			<h1>ABC Hospital Management System</h1>
			<select name="patient" class="dropdown"  onchange="location = this.value;">
                <option value="patients">Patients</option>
				<option value="/patientsregistration">patients registration</option>
				<option value="/Update_patient">update patients</option>
				<option value="/Deletepatients">Delete patients</option>
				<option value="/viewpatients">view patients</option>
				<option value="/searchpatients">search patients</option>
				<option value="/patientsbilling">patients billing</option>	
            </select>&nbsp;&nbsp;
			<select name="pharmacy" class="dropdown" onchange="location = this.value;"> 
				<option value="Pharmacy">Pharmacy</option>
				<option value="/searchpatients">Get patient details</option>
				<option value="/Issuemedicine">Issue medicine</option>
			</select>&nbsp;&nbsp;
			<select name="diagnostics" class="dropdown" onchange="location = this.value;">
				<option value="Diagnostics">Diagnostics</option>
				<option value="/searchpatients">Get patient details</option>
				<option value="/diagonstic">diagonstic</option>
			</select>&nbsp;&nbsp;
			<br><br><br>
		</header>
		<br>
		
		<div>
			<h2>View Patients</h2>
		</div>
		<div id= "view">
			<table class="tab">
              <thead>
                 <tr>
					<th>Patient Id</th>
					<th>Name</th>
					<th>Age</th>
					<th>Address</th>
					<th>Date of Admission</th>
					<th>Type of room</th>
                 </tr>
              </thead>
			  <%if(result.length){ %>
				  <tbody>
					  <%result.forEach((doc)=>{ %>
						<tr>
						  <td><%=doc.pid %></td>
						  <td><%=doc.pname %></td>
						  <td><%=doc.p_age %></td>
						  <td><%=doc.address %></td>
						  <td><%=doc.date %></td>
						  <td><%=doc.bed %></td>
						</tr>
					  <%}) %>
				  </tbody>
			  <%}%>
			</table>
		</div>
	</body>
</html>
